streamlit~=0.86.0
pandas~=1.2.4
sklearn~=0.0
scikit-learn~=0.24.2
numpy~=1.20.2
python-dateutil~=2.8.1
gitdb~=4.0.7
defusedxml~=0.7.1
cffi~=1.14.6
Pillow~=8.3.1
ipython~=7.26.0
toolz~=0.11.1
pyzmq~=22.2.1
colorama~=0.4.4
tornado~=6.1
attrs~=21.2.0
parso~=0.8.2
jedi~=0.18.0
pytz~=2021.1
astor~=0.8.1
black~=21.7b0
appdirs~=1.4.4
tomli~=1.2.1
pathspec~=0.9.0
regex~=2021.8.3
click~=7.1.2
smmap~=4.0.0
setuptools~=49.2.1
scipy~=1.6.3
iqoption== 6.8.9.1
altair~=4.1.0
jsonschema~=3.2.0
Jinja2~=3.0.1
entrypoints~=0.3
six~=1.15.0
base58~=2.1.0
webencodings~=0.5.1
packaging~=21.0
bleach~=4.0.0
MarkupSafe~=2.0.1
joblib~=1.0.1
pyarrow~=5.0.0
pydeck~=0.6.2
ipywidgets~=7.6.3
traitlets~=5.0.5
blinker~=1.4
debugpy~=1.4.1
decorator~=5.0.9
Pygments~=2.9.0
ipykernel~=6.1.0
testpath~=0.5.0
backcall~=0.2.0
pickleshare~=0.7.5
wcwidth~=0.2.5
threadpoolctl~=2.1.0
tzlocal~=3.0
urllib3~=1.26.6
nbformat~=5.1.3
nbclient~=0.5.3
nbconvert~=6.1.0
requests~=2.25.1
notebook~=6.4.3
Send2Trash~=1.8.0
terminado~=0.11.0
watchdog~=2.1.3
pandocfilters~=1.4.3
mistune~=0.8.4
pyparsing~=2.4.7
pycparser~=2.20
validators~=0.18.2
toml~=0.10.2
cachetools~=4.2.2
websocket-client~=0.56.0
pyrsistent~=0.18.0
idna~=2.10
isort~=5.8.0
astroid~=2.5.6
wrapt~=1.12.1
chardet~=4.0.0
pylint~=3.0.0a3
mccabe~=0.6.1
certifi~=2020.12.5